@font-face {
    font-family: 'MonaspaceKrypton';
    src: url('fonts/MonaspaceKryptonVarVF[wght\,wdth\,slnt].ttf') format('truetype'),
        /*url('fonts/MonaspaceArgonVarVF[wght\,wdth\,slnt].woff2') format('woff2'),
        url('fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].woff2') format('woff2'),
        url('fonts/MonaspaceRadonVarVF[wght\,wdth\,slnt].woff2') format('woff2'),
        url('fonts/MonaspaceXenonVarVF[wght\,wdth\,slnt].woff2') format('woff2'),*/
        
        /*url('fonts/MonaspaceArgonVarVF[wght\,wdth\,slnt].ttf') format('truetype'),
        url('fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf') format('truetype'),
        url('fonts/MonaspaceRadonVarVF[wght\,wdth\,slnt].ttf') format('truetype'),
        url('fonts/MonaspaceXenonVarVF[wght\,wdth\,slnt].ttf') format('truetype');
        */

    
    font-style: normal;
    font-weight: normal;

    }
    
    body{
    background-color: rgb(0, 0, 0);
    font-family: 'MonaspaceKrypton';
}
/* how the page wrapper will appear on mobile */

/* how the page wrapper appears on desktop */

/*@media only screen and (min-width:2500px)*/
.page-wrapper{
      width: min(100% - 3rem, 120ch);
 margin-inline: auto;
display: grid;
grid-gap: 20px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "h a";
}

#history {
grid-area: h;
}

#variations{
grid-area: v;
}

/*#fonts {
grid-area: f;
}*/


#alphabet {
grid-area: a;
}

.variable-font{
    font-size: 1em;
    color: rgb(210, 255, 165);
}

/* CSS for the footer */


/* variable font animation */
h7{
    color:  rgb(94, 94, 93);
    font-size: 2rem;
    text-transform: uppercase;
}
h3{
    color:rgb(140, 140, 140);
    font-weight:20; 
    text-align: center;
    font-size: 2em;
    /*animation: weightChange 7s infinite;*/
}
h1{
    
    color: rgb(57, 255, 222);
    font-weight:20; 
    text-align: left;
    font-size: 2em;
    /*animation: weightChange 7s infinite;*/
}
p{
    color: rgb(140, 140, 140);
    font-weight:20; 
    text-align: left;
    font-size: 1em;
    /*animation: weightChange 7s infinite;*/

}
.animated{
    /* color:rgb(254, 80, 190); */
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 4s infinite;
    }
    
    @keyframes weightChange {
        0%, 100%{
            font-variation-settings: "wght" 200, "wdth" 100, "slnt" -11;
            color:rgb(255, 247, 0);
        }

        50%{ 
            font-variation-settings: "wght" 800, "wdth" 125, "slnt" 0;
            color:rgb(255, 0, 174);
        }
        
    }

    /* added footer*/
footer{
    padding-left: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px; */
    background-color: gray;
    height: 100%;
    width:100%;
} 
/* slant animation */
.slant{
    color: rgb(57, 255, 222);
    font-weight:1 ;
    font-size: 2em;
    margin: 0;
    font-variation-settings: "slnt" 0;
    animation: slant 2s infinite;
}

@keyframes slant {
    0%, 100%{
        font-variation-settings: "wght" 500, "wdth" 100, "slnt" -11;

    }

    50%{ 
        font-variation-settings: "wght" 500, "wdth" 100, "slnt" 0;
      
    }
    
}

/* width animation */
.width{
    color: rgb(57, 255, 222);
    font-weight:1 ;
    font-size: 2em;
    margin: 0;
    font-variation-settings: "wdth" 100;
    animation: width 3s infinite;
}

@keyframes width {
    0%, 100%{
        font-variation-settings: "wght" 500, "wdth" 100, "slnt" 0;

    }

    50%{ 
        font-variation-settings: "wght" 500, "wdth" 125, "slnt" 0;
      
    }
    
}
 /* Custom link  with background and border */
 .custom-link {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: rgb(255, 153, 57); /* green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .custom-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: -100%;
    transition: left 0.3s;
  }

  .custom-link:hover::before {
    left: 0;
  }

  /* Custom link hover effect */
  .custom-link:hover {
    background-color:  rgb(161, 97, 37); /* darker green */
  }

  /*slider customization*/
  #variable-text{
    font-size: 40px;
  }
  input[type='range'] {
    overflow: hidden;
    /* width: 80px; */
    -webkit-appearance: none;
    background-color:  rgb(172, 172, 172);


